.terminal-wrapper {
    height: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 4;
    isolation: isolate;
}

.terminal-active {
    height: var(--height, 30vh);
}

.terminal-inner {
    width: 100%;
    height: 100%;
    z-index: 4;
    position: relative;
}

.terminal-light {
    color: black !important;
    background: white !important;
}

.terminal-dark {
    color: white !important;
    background: black !important;
}

.terminal-inner>iframe {
    width: 110%;
    height: 100%;
    border-top: 4px dotted gray;
}

.terminal-active .terminal-height-pip {
    display: initial;
}

.terminal-height-pip {
    position: absolute;
    top: -20px;
    width: 50px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: red;
    display: none;
    z-index: 3;
}