.spinner {
    border-radius: 1000px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    isolation: isolate;
    position: relative;
}

.spinner div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner div:first-child::before {
    content: 'Loading';
    font-size: 2em;
}

.spinner div::after {
    animation-name: rotate-360;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 50%;
    height: 50%;
    position: absolute;
    transform-origin: center;
    content: "";
    mix-blend-mode: difference;
    border-radius: 10px;
}

.spinner div:nth-child(1)::after {
    background-color: var(--ifm-color-success);
    animation-delay: -0.6s;
    animation-timing-function: ease-in-out;
}

.spinner div:nth-child(2)::after {
    background-color: var(--ifm-color-warning);
    animation-timing-function: ease-in;
}

.spinner div:nth-child(3)::after {
    background-color: var(--ifm-color-info);
    animation-delay: -1.2s;
    animation-timing-function: ease-out;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}