.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

.spinner-wrapper {
    z-index: 2;
    position: absolute;
    width: 77vmin;
    height: 77vmin;
}